{% extends "layout.html" %}
{% block content %}
    <div class="media">
        <img src="{url_for('static', filename='/profile_pics/imKrish.jpg')}}" class="align-self-center mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Techny Blog Creator</h5>
            <p>This is my first blog project.I have taken the reference of Chorey M Schafer Tutorials.</p>
            <p class="mb-0">Flask is useful to make small application with the help of python</p>
        </div>
    </div>
{% endblock content %}